Chapter 7/End Of Chapter/ACME.POS.Service/Tests/ACME.POS.Service.Client/Web References/ACMEStateWebService/GetStates.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ACME.POS.Service.ServiceContracts/2007/06" xmlns:s1="http://ACME.POS.Service.DataTypes/2007/06" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ACME.POS.Service.ServiceContracts/2007/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ACME.POS.Service.ServiceContracts/2007/06">
      <s:import namespace="http://ACME.POS.Service.DataTypes/2007/06" />
      <s:element name="GetStateList">
        <s:complexType />
      </s:element>
      <s:element name="GetStateListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStateListResult" type="tns:ArrayOfState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="State" nillable="true" type="s1:State" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ACME.POS.Service.DataTypes/2007/06">
      <s:complexType name="State">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Abbrv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStateListSoapIn">
    <wsdl:part name="parameters" element="tns:GetStateList" />
  </wsdl:message>
  <wsdl:message name="GetStateListSoapOut">
    <wsdl:part name="parameters" element="tns:GetStateListResponse" />
  </wsdl:message>
  <wsdl:portType name="GetStates">
    <wsdl:operation name="GetStateList">
      <wsdl:input message="tns:GetStateListSoapIn" />
      <wsdl:output message="tns:GetStateListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetStates" type="tns:GetStates">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStateList">
      <soap:operation soapAction="http://ACME.POS.Service.ServiceContracts/2007/06/GetStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetStates">
    <wsdl:port name="GetStates" binding="tns:GetStates">
      <soap:address location="http://localhost:51489/ACME.POS.Service.Host/GetStates.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>